@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cart-top: 20px;
  --cart-left: 20px;
  --initial-top: 0px;
  --initial-left: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.beer-pattern {
  background-color: #f0f9ff;
  background-image: url('/beer-svgrepo-com.svg');
  background-repeat: repeat;
  background-size: 64px;
  background-position: center;
  background-blend-mode: soft-light;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}
